footer {
  background: hsl(0, 0, 60);
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0.2em 0.3em;
  padding: 0.3em;
  border-radius: 0.5em;

  > p {
    padding: 0.2em;

    @include mq(medium) {
      font-size: 0.75rem;
    }

    @include mq(768px) {
      color: wheat;
    }

    @include mq(large) {
      color: wheat;
    }
  }

  > img {
    width: 30px;
    border-radius: 50%;
    padding: 0.3em;

    @include mq(medium) {
      width: 30px;
    }
  }
}
