footer {
  width: 100%;
  margin-top: 0.5em;
}

footer div {
  background: hsl(0, 0, 60);
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 60vw;
  margin: 0.2em auto;
  padding: 0.3em;
  border-radius: 0.5em;

  > p {
    padding: 0.2em;
  }

  > img {
    width: 30px;
    border-radius: 50%;
    padding: 0.3em;

    @include mq(medium) {
      width: 30px;
    }
  }
}
