header {
  width: 100%;
}

.header {
  background-color: hsl(0, 0, 90);
  width: 80vw;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.3em 0.5em 0em 0.5em;

  border-radius: 0.75em;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}
