:root {
  --sketch-size: 16;
}

.sketch-container {
  background: hsla(0, 0, 90, 0.2);
  margin: 0.5em auto 0;
  padding: 0.5em;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(medium) {
    margin: 2.5em auto 0;
    width: 80%;
    height: 90%;
  }

  &__sketch {
    background: hsl(0, 0, 100);
    margin: auto;
    width: 90%;
    height: 90%;

    display: grid;
    grid-template-columns: repeat(var(--sketch-size), 1fr);
    grid-template-rows: repeat(var(--sketch-size), 1fr);

    @include mq(medium) {
      width: 70%;
      height: 90%;
    }
  }
}

.sketch-item {
  border: 1px solid hsl(0, 0, 85);
}
