* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url("../../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.main-container {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-rows: 0.5fr 4fr 0.3fr;
  row-gap: 0.2em; }

.header {
  width: 100%;
  height: 20%; }

.body-container {
  display: grid;
  grid-template-rows: 0.7fr 6fr;
  row-gap: 0.5em; }

header {
  width: 100%; }

.header {
  background-color: #e6e6e6;
  width: 50vw;
  margin-top: -40px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.2em 0.5em 0.5em 0.5em;
  text-align: center;
  border-radius: 0.75em; }

.options-container {
  background: rgba(102, 102, 102, 0.4);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em;
  margin: 0 0.2em;
  border-radius: 0.5em;
  color: white; }
  .options-container__color {
    display: inline-block;
    width: 30%; }
  .options-container__resize-btn, .options-container__mode-btn, .options-container__reset-btn {
    background: gray;
    padding: 0.5em;
    margin-left: 0.3em;
    border-radius: 0.4em;
    line-height: 0.75em;
    cursor: pointer; }
    @media screen and (min-width: 640px) {
      .options-container__resize-btn, .options-container__mode-btn, .options-container__reset-btn {
        font-size: 1.2rem; } }
    @media screen and (min-width: 1024px) {
      .options-container__resize-btn, .options-container__mode-btn, .options-container__reset-btn {
        font-size: 1.3rem; } }

.white,
.black,
.multicolor {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 0.2em;
  padding: 0.3em; }
  @media screen and (min-width: 640px) {
    .white,
    .black,
    .multicolor {
      width: 20px;
      height: 20px;
      margin-left: 0.75em;
      padding: 0.5em; } }
  @media screen and (min-width: 768px) {
    .white,
    .black,
    .multicolor {
      width: 25px;
      height: 25px;
      margin: 0.5em; } }

.white {
  background-color: white; }

.black {
  background-color: black; }

.multicolor {
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%); }

.modal-dialog {
  position: fixed;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  transition: all 1s; }
  .modal-dialog > div {
    background: linear-gradient(#fff, #999);
    color: black;
    width: 60%;
    height: 30%;
    padding: 0.75em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .modal-dialog > div > h2 {
      padding: 0.5em; }
  .modal-dialog__resize-button {
    background: gray;
    color: white;
    margin-top: 0.3em;
    margin-right: 0.5em;
    align-self: flex-end;
    line-height: 1.7em;
    padding: 0 1.5em;
    border-radius: 0.6em;
    cursor: pointer; }

.close {
  position: absolute;
  right: -12px;
  top: -12px;
  width: 24px;
  background: #606061;
  color: #ffffff;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000; }
  .close:hover {
    background: #00d9ff; }

:root {
  --sketch-size: 16; }

.sketch-container {
  background: rgba(230, 230, 230, 0.2);
  margin: 0.5em auto 0;
  padding: 0.5em;
  width: 80vw;
  display: flex; }
  .sketch-container__sketch {
    background: white;
    margin: auto;
    width: 500px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(var(--sketch-size), 1fr);
    grid-template-rows: repeat(var(--sketch-size), 1fr); }
    @media screen and (min-width: 640px) {
      .sketch-container__sketch {
        width: 750px;
        height: 500px; } }

.sketch-item {
  border: 1px solid #d9d9d9; }

footer {
  background: #999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2em 0.3em;
  padding: 0.3em;
  border-radius: 0.5em; }
  footer > p {
    padding: 0.2em; }
    @media screen and (min-width: 640px) {
      footer > p {
        font-size: 0.75rem; } }
    @media screen and (min-width: 768px) {
      footer > p {
        color: wheat; } }
    @media screen and (min-width: 1024px) {
      footer > p {
        color: wheat; } }
  footer > img {
    width: 30px;
    border-radius: 50%;
    padding: 0.3em; }
    @media screen and (min-width: 640px) {
      footer > img {
        width: 30px; } }
